html{
	background-color: white;
}
body{
	background-color: #6c625b;
	text-align: center;
	margin-left: 165px;
	margin-right: 165px;
}
 h1{
 	color: black;
 }

div{
	background-color: black;
	height: 25px;
}
div a{
	color: white;
	margin:25px;
	padding: 8px 15px;
	background-color: grey;
	text-decoration: none;
}

div a:hover{
	background-color: red;
	transition: 2s;
}
.current{
	background-color: red;
	color: white;
}
